mat-form-field {
  width: 100%;
}

.form-card {
  border: 1px solid #777;
  border-radius: 20px;
  background: rgba($color: #fff, $alpha: 0.85);
}

.form-button {
  background: #0b2343 !important;
  padding: 20px 30px;
}
