<div class="card form-card p-4 my-4">
    <div class="container" style="--bs-bg-opacity: 0.5; min-width: 75%">
      <div *ngIf="vuelos">
        <div><h1 class="text-center">{{title}}</h1></div>
        <div
        class="card boleto-card"
        style="margin-top: 10px; padding: 20px"
        *ngFor="let vuelo of vuelos"
      >
        <div class="row">
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-4">
                      <h2>{{ vuelo.lugar_origen_id.Ciudad }}</h2>
                      <h4>{{ vuelo.lugar_origen_id.nombreAeropuerto }}</h4>
                  </div>
                  <div class="col-md-4">
                      <!-- <fa-icon [icon]="faPlane"></fa-icon> -->
                  </div>
                  <div class="col-md-4">
                      <h2>{{ vuelo.lugar_destino_id.Ciudad }}</h2>
                      <h4>{{ vuelo.lugar_destino_id.nombreAeropuerto }}</h4>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-4"></div>
                  <div *ngFor="let precio of vuelo.precios" class="col-md-4 text-end" style="padding:10px;">
                      <div class="card" style="padding:10px;">
                          <h2>{{precio.nombre}}</h2>
                          <h3>$ {{precio.total}}</h3>
                          <button class="btn btn-success" (click)="guardarInfo(vuelo._id,precio.nombre, precio.asiento)">Comprar</button>
                          <!-- <a class="btn btn-success" style="--bs-bg-opacity: 0.5;" routerLink="/asientos/{{vuelo._id}}-{{precio.nombre}}-{{precio.asiento}}">Comprar</a> -->
                      </div>                    
                  </div>
              </div>
          </div>  
        </div>
        <div class="row">
          <h5>Distancia aproximada: {{ vuelo.distancia_KM }} KM</h5>
        </div>
      </div>
      </div>      
    </div>
  </div>
  