<footer>
  <div class="container hidden">
    <div class="row justify-content-start align-items-start">
      <div class="col-12 col-md-3">
        <a href="https://www.epn.edu.ec/">
          <img
            src="../../../assets/img/BUHO_EPN_big.png"
            class="img-fluid d-block mx-auto"
            width="140"
            alt="EPN Ecuador"
          />
        </a>
      </div>
      <div class="col-12 col-md-9 fw-light fs-5">
        <p class="fs-5 mt-4">Ingeniería de Software II</p>
        <p class="">Grupo 1:</p>
        <a
          href="https://github.com/JersonAndino"
          class="mt-2 d-block text-white"
          >Jerson Andino <fa-icon [icon]="faGithub"></fa-icon
        ></a>
        <a href="https://github.com/Cheveniko" class="mt-2 d-block text-white"
          >Nicolás Baquero <fa-icon [icon]="faGithub"></fa-icon
        ></a>
        <a href="https://github.com/Carfox" class="mt-2 d-block text-white"
          >Carlos López <fa-icon [icon]="faGithub"></fa-icon
        ></a>
        <a
          href="https://github.com/David15-tech"
          class="mt-2 d-block text-white"
          >David Mena <fa-icon [icon]="faGithub"></fa-icon
        ></a>
        <p class="mt-2">© Semestre 2023A</p>
      </div>
    </div>
  </div>
</footer>
